<div class="Control-checkbox">
    <div class="field">
        <label class="field__label" for="{{ alias }}">
            {{ this.alias[0].toUpperCase() + this.alias.slice(1) + ':' + ' ' }}
        </label>

        <input
            class="field__input"
            id="{{ alias }}"
            name="{{ alias }}"
            type="checkbox"
            [formControl]="control"
        >
    </div>

    <p class="json">{{ control.errors | json }}</p>

    <article class="errors" *ngIf="control.errors">
        <p class="errors__error">test error here</p>
    </article>
</div>