<article class="Recipe-card">
    <div class="front" [ngStyle]="{'background-image': 'url('+ data.imgUrl +')'}">
        <h1 class="front__heading">{{ data.name }}</h1>
    </div>

    <div class="back" [ngStyle]="{'background-image': 'url('+ data.imgUrl +')'}">
        <p class="back__text">{{ data.description }}</p>

        <interface-button
            [additionalStyles]="{
                position: 'absolute',
                bottom: '5%',
                left: '50%',
                transform: 'translateX(-50%)'
            }"
            [clickHandler]="navigateToDetails"
        >
            show details
        </interface-button>
    </div>
</article>