<form class="Register-form" (submit)="submitForm($event)">
    <main class="controls">
        <div class="controls__control">
            <label class="controls__control__label" for="email">Email</label>

            <input
                class="controls__control__input"
                id="email"
                name="email"
                type="text"
                [(ngModel)]="userInfo.email"
                #email="ngModel"
            >

            <p class="controls__control__error" *ngIf="email.touched && !email.value">email is required</p>
        </div>

        <div class="controls__control">
            <label class="controls__control__label" for="password">Password</label>

            <input
                class="controls__control__input"
                id="password"
                name="password"
                type="text"
                [(ngModel)]="userInfo.password"
                #password="ngModel"
            >

            <p class="controls__control__error" *ngIf="password.touched && !password.value">password is required</p>
        </div>

        <div class="controls__control">
            <label class="controls__control__label" for="confirmedPassword">Confirm password</label>

            <input
                class="controls__control__input"
                id="confirmedPassword"
                name="confirmedPassword"
                type="text"
                [(ngModel)]="userInfo.confirmedPassword"
                #confirmedPassword="ngModel"
            >

            <p class="controls__control__error" *ngIf="confirmedPassword.touched && !confirmedPassword.value">
                confirmed password is required
            </p>
        </div>
    </main>

    <interface-button [additionalClass]="'centered'">register</interface-button>

    <p class="error">{{ authService.errorMessage }}</p>
</form>
