<section class="Recipes">
    <div class="CONTAINER">
        <interface-heading>recipes</interface-heading>

        <interface-spinner *ngIf="firebaseService.ifLoadingBehaviorSubject | async"></interface-spinner>

        <div class="cards">
            <ng-container *ngFor="let item of this.recipes">
                <app-recipe-card [id]="item[0]" [data]="item[1]"></app-recipe-card>
            </ng-container>
        </div>

        <p class="info" *ngIf="(this.recipes.length === 0) && !(this.firebaseService.ifLoadingBehaviorSubject | async)">No recipes in database.</p>
    </div>
</section>