.Recipes {
    border: 2px solid red;
    // height: 150vh;

    & .cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    & .info {
        
    }
}