@use 'src/variables.scss' as *;

.Logo {
    border: 1px solid red;
    justify-content: flex-start;
    align-items: center;

    display: flex;
    gap: 0.5rem;

    & .img {
        width: 50px;
    }

    & .text {
        text-transform: capitalize;
        font-size: $heading-small;
        font-weight: bold;
    }
}