<div class="Control-textarea">
    <div class="field">
        <label class="field__label" for="{{ alias }}">
            {{ alias[0].toUpperCase() + alias.slice(1) + ':' }}
        </label>

        <textarea class="field__textarea" id="{{ alias }}" name="{{ alias }}" [formControl]="control"></textarea>
    </div>

    <p class="json"> {{ control.errors | json }}</p>

    <article class="errors" *ngIf="control.errors">
        <p class="errors__error" *ngIf="control.errors['required']">value is required</p>
    </article>
</div>