@use 'src/variables.scss' as *;

.Control-textarea {

    & .field {
        &__label {

        }

        &__textarea {
            resize: none;
        }
    }

    & .messages {

        &__message {
            font-size: $text-small;
            color: red;
        }
    }
}