@use 'src/variables.scss' as *;

.Control-textarea {

    & .field {
        &__label {

        }

        &__textarea {
            resize: none;
        }
    }

    & .json {
        font-size: $text-small;
    }

    & .errors {

        &__error {
            font-size: $text-small;
            color: red;
        }
    }
}