@use 'src/variables.scss' as *;

section.Add-recipe {

    & .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }

    & .error {

        &__text {
            font-size: $text-small;
            color: red;
        }
    }
}