<section class="Add-recipe">
    <div class="CONTAINER">
        <interface-heading>add recipe</interface-heading>

        <form class="form" [formGroup]="formGroup" (ngSubmit)="submitForm($event)">
            <!-- <ng-container *ngFor="let entry of this.formGroupEntries">
                <interface-form-control-input *ngIf="checkIfInstanceOfFormControl(entry[1])"
                    [alias]="entry[0]"
                    [control]="entry[1]"
                >
                </interface-form-control-input>
            </ng-container> -->

            <controls-input
                [alias]="'name'"
                [control]="formGroup.controls.name"
            >
            </controls-input>

            <controls-input
                [alias]="'description'"
                [control]="formGroup.controls.description"
            >
            </controls-input>

            <controls-input
                [alias]="'image url'"
                [control]="formGroup.controls.imgUrl"
            >
            </controls-input>

            <controls-textarea
                [alias]="'preparation'"
                [control]="formGroup.controls.preparation"
            >
            </controls-textarea>

            <ng-container
                *ngFor="let control of this.formGroup.controls.ingredients.controls; let idx = index"
                [formArrayName]="'ingredients'">
                    <controls-input
                        [alias]="'ingredient' + ' ' + (idx + 1)"
                        [control]="control"
                    >
                    </controls-input>

                    <button type="button" (click)="removeIngredientsControl(idx)">delete</button>
            </ng-container>

            <controls-select
                [alias]="'difficulty'"
                [control]="formGroup.controls.difficulty"
                [prompt]="'difficulty of preparation'"
                [options]="['easy', 'medium', 'hard']"
            >
            </controls-select>

            <controls-checkbox
                [alias]="'vege'"
                [control]="formGroup.controls.ifVege"
            >
            </controls-checkbox>

            <!-- <div>
                <div>
                    <label for="yes">yes</label>
                    <input type="radio" id="yes" name="vege" value='yes' [formControl]="formGroup.controls">
                </div>
                <div>
                    <label for="no">no</label>
                    <input type="radio" id="no" name="vege" value='no' [formControl]="formGroup.controls">
                </div>
            </div> -->

            <button (click)="addIngredientsControl()">add ingredient</button>

            <button type="submit">submit form</button>
        </form>


        <article class="error" *ngIf="this.errMsg">
            <p class="error__text">{{ this.errMsg }}</p>
        </article>



        <div class="info">
            <article class="info__field">
                <h4 class="info__field__name">value</h4>
                <p class="info__field__description">{{ this.formGroup.value | json}}</p>
            </article>

            <article class="info__field">
                <h4 class="info__field__name">is valid</h4>
                <p class="info__field__description">{{ this.formGroup.valid | json }}</p>
            </article>

            <article class="info__field">
                <h4 class="info__field__name">common errors</h4>
                <p class="info__field__description">{{ this.formGroup.errors | json }}</p>
            </article>
        </div>
    </div>
</section>