@use 'src/variables.scss' as *;

.Footer {
    height: 50px;
    background-color: $color-primary;

    display: flex;
    justify-content: center;
    align-items: center;

    & .text {
        color: white;
    }

}