@use 'src/variables.scss' as *;

.Button {
    width: 120px;
    height: 50px;
    background-color: $color-complementary;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: $text-small;
    cursor: pointer;

    transition: all 0.5s ease-out;

    &:hover, &:active {
        background-color: $color-complementary-dark;
    }

    &.centered {
        display: block;
        margin: 0 auto;
    };
}