@use 'src/variables.scss' as *;

.Control-input {

    & .field {
        &__label {}

        &__input {}
    }


    & .json {
        font-size: $text-small;
    }

    & .errors {
        &__error {
            font-size: $text-small;
            color: red;
        }
    }
}