<div class="Control-input">
    <div class="field">
        <label class="field__label" for="{{ this.alias }}">
            {{ this.alias[0].toUpperCase() + this.alias.slice(1) + ':' + ' ' }}
        </label>

        <input
            class="field__input"
            id="{{ this.alias }}"
            [ngClass]="" type="text"
            [formControl]="control"
        >
    </div>

    <p class="json">{{ control.errors | json }}</p>

    <article class="errors" *ngIf="control.errors">
        <p class="errors__error" *ngIf="control.errors['required']">value is required</p>
    </article>
</div>