<section class="Recipe">
    <div class="CONTAINER">
        <interface-heading>{{ recipe?.name }}</interface-heading>

        <button type="button" (click)="removeRecipe()">delete recipe</button>
        <button type="button" (click)="moveToEditRecipePage()">update recipe</button>

        <main class="info">
            <article class="info__term">
                <interface-subheading>is vege</interface-subheading>
                <p class="info__description">{{ recipe?.ifVege }}</p>
            </article>

            <article class="info__term">
                <interface-subheading>difficulty</interface-subheading>
                <p class="info__text">{{ recipe?.difficulty }}</p>
            </article>

            <article class="info__term">
                <interface-subheading>description</interface-subheading>

                <p class="info__text">{{ recipe?.description }}</p>
            </article>

            <article class="info__term">
                <interface-subheading>ingredients</interface-subheading>

                <ng-container *ngIf="recipe?.ingredients">
                    <p class="info__text">No ingredients</p>
                </ng-container>

                <ng-container *ngFor="let item of recipe?.ingredients; let idx = index">
                    <p class="info__text">{{ item }}</p>
                </ng-container>
            </article>

            <article class="info__term">
                <interface-subheading>preparation</interface-subheading>

                <p class="info__text">{{ recipe?.preparation }}</p>
            </article>
        </main>
    </div>

    <picture class="picture">
        <img class="picture__img" [src]="recipe?.imgUrl" alt="{{ recipe?.name }}">
    </picture>
</section>

<app-modal
    message="recipe has been deleted"
    redirectPath="recipes"
    *ngIf="this.domService.ifModalActive">
</app-modal>