<div class="Navbar">
    <div class="CONTAINER">
        <interface-logo></interface-logo>

        <nav class="nav">
            <ng-container *ngFor="let route of routes">
                <a
                    class="nav__link"
                    [routerLink]="route"
                    [routerLinkActive]="'activated'"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    {{ route === '' ? 'home' : route.replaceAll('-', ' ')}}
                </a>
            </ng-container>

            <ng-container *ngFor="let authRoute of authRoutes">
                <a
                    class="nav__link"
                    [routerLink]="authRoute"
                    [routerLinkActive]="'activated'"
                    [routerLinkActiveOptions]="{exact: true}"
                    *ngIf="
                        (authRoute === authRoutes[0] && authService.ifLoggedIn) ||
                        (authRoute === authRoutes[1] && !authService.ifLoggedIn) ||
                        (authRoute === authRoutes[2] && !authService.ifLoggedIn)
                    "
                >
                    {{ authRoute.replaceAll('-', ' ')}}
                </a>
            </ng-container>

            <a
                class="nav__link"
                [routerLink]="''"
                (click)="authService.logoutUser()"
                *ngIf="authService.ifLoggedIn"
            >
                log out
            </a>

        </nav>
    </div>
</div>